@import url('https://fonts.googleapis.com/css?family=PT+Serif');

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/*Parallax scroll*/
.parallax {
    background-image: url('../img/flemming-fuchs-337954-unsplash.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}
/* Middle section background*/
.bg {
    background-color: whitesmoke;
} 

/* Button spacing*/
.btn {
    margin-bottom: 10px;
    margin-right:5px;
}

/*--Break--*/
#typed-strings, .typed-cursor {
    display: none;
}

#typed::after{
    content: '|';
    display: inline;
    -webkit-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-webkit-keyframes blink{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes blink{
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/*--Break--*/
section {
    margin: auto;
    width: 100%;
    padding: 80px 20px;
    font-family: 'PT Serif', serif;
}

a {
    color: inherit;
}

.icon {
    border-radius: 50%;
    height: 200px;
    margin-bottom: 15px;
}

.container {
    position: relative;
    text-align: center;
}


/* Centering text over parallax*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.footer {
    margin: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: whitesmoke;
    text-align: center;

}

.portfolio-item {
    position: relative;
    margin: 20px;
    height: 100x;
    width: 500px;
}